%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  warnings_as_errors
 ]}.

{deps,
 [
  {envloader, {git, "https://github.com/nuex/envloader.git", {branch, "master"}}},
  {eql, {git, "git://github.com/artemeff/eql.git", {tag, "0.1.0"}}},
  getopt,
  epgsql
 ]}.

{escript_incl_apps, [psql_migration]}.
{escript_main_app, psql_migration}.
{escript_name, psql_migration}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,locals_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
